@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
}



.ghost-input {
    display: block;
    font-weight: 300;
    width: 50%;
    font-size: 25px;
    border: 0px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4b545f;
    background: #fff;
    font-family: Open Sans, Verdana;
    padding: 10px 15px;
    margin: 30px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.ghost-input:focus {
    border-block: 1px solid #ddd;
}

.ghost-button {
    background-color: transparent;
    border: 2px solid #ddd;
    padding: 10px 30px;
    width: 30%;
    min-width: 350px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.ghost-button:hover {
    border: 2px solid #515151;
}


main {
    padding: 1rem;
    margin: auto;
}

form {
    display: inline;
}

.centered {
    text-align: center;
}

.image {
    height: 20rem;
}

.image img {
    height: 100%;
}

.main-header {
    width: 100%;
    height: 5rem;
    background-color: #4f704f9c;
    padding: 0 10rem;
    display: flex;
    align-items: center;
}

.main-header__nav {
    height: 100%;
    display: none;
    align-items: center;
    padding: 0 10rem;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #ffeb3b;
}

.mobile-nav {
    width: 30rem;
    height: 100vh;
    max-width: 90%;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 10;
    padding: 2rem 1rem 1rem 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.mobile-nav.open {
    transform: translateX(0);
}

.mobile-nav__item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.mobile-nav__item {
    margin: 1rem;
    padding: 0;
}

.mobile-nav__item a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
    background: #00695c;
    color: white;
    border-radius: 3px;
}

#side-menu-toggle {
    border: 1px solid white;
    font: inherit;
    padding: 0.5rem;
    display: block;
    background: transparent;
    color: white;
    cursor: pointer;
}

#side-menu-toggle:focus {
    outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
    color: #ffeb3b;
    border-color: #ffeb3b;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 50%;
}


.card__header {
    padding: 2rem;
    background-color: #4f704f1c;
}
.card__content {
    padding: 2rem;
        border: #00695c inset 0.5px;

}

.card__title {
    padding: 1rem;
    margin: 0;
    text-align: center;
    font-weight: 500;
}

.card__header h1 {
    padding: 1rem;
    margin: 0;
    text-align: center; 
    background: #d5dddc;
    align-content: center;
}

p {
    margin: 0;
    text-align: center;
    background: #c9cfcf98;
    display: block;
    font-weight: 200;
    font-size: 20px;
    font-family: sans-serif
}

h2 {
    font-size: 50px;
    text-align: center;
}


.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #00695c;
    color: white;
}

.btn.danger {
    color: red;
    border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
    background: red;
    color: white;
}

@media (min-width: 768px) {
    .main-header__nav {
        display: flex;
    }

    #side-menu-toggle {
        display: none;
    }
}

th {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    
}
td {
    border: groove 1rem;
    background: #d5dddc3a;
}